.title{
    font-size: 45px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 45px;
}

h2{
    justify-content: center;
    text-align: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.label{
    display: flex;
    justify-content:left    ;
}
.input_font{
    padding: 8px;
    font-size: 8px;
    height: 10px;
    outline: none;
    width: 200px;
    border-radius: 5px;
    border: 0;

}

.form{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    padding: 20px;
    background-color:rgba(245, 245, 220, 0.238);
    border-radius: 20px;
}
.container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}
.Button_container{
   height: 50px; 
   border-radius: 10px;
   border: none;
}


.box {
    border: 1px solid #ccc;
    border-radius: 8px; 
    padding: 16px; 
    margin: 10px; 
    background-color: #f9f9f9; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.box h2 {
    font-size: 1.5em; 
    color: #333; 
    margin-bottom: 8px; 
}


.box p {
    font-size: 1em; 
    color: #555; 
    margin: 4px 0;
    
}


.div_botoes {
    margin-top: 10px; 
}

.icon {
    width: 24px; 
    height: 24px; 
    cursor: pointer; 
    margin-right: 10px;
}

.icon:hover {
    opacity: 0.10; 
}  


.contatos{
    display: flex;       

}

.box{
    background-color: #fffdfd8a;
}